*{margin: 0;}
.content{
    width: 90%;
}
.bg-grey {
    background-color: #f7f7f7;
    width: 100%;
}
li:hover{
    background-color: #f7f7f7;

}
.bg-grey:hover {
    background-color: #e7e7e7;
    color: #ff9343;
}

.box {
    margin-bottom: 5px;
    border-bottom: 4px solid #d8d8d8;
}

.text-color {
    color: #ff9343;
}

.navbar {
    padding: 0;
    background-color: white;
}

.navbar-brand {
    margin-left: 1.5em;
    padding: 0 2em;
}


.dropdown:hover .dropdown-menu {
    display: block;
    animation: anime 500ms ease-in-out forwards;
    animation-delay: -100ms;
}


.dropdown-menu a:nth-child(1) {
    animation: animate 500ms ease-in-out forwards;
    animation-delay: 600ms;
}

.dropdown-menu a:nth-child(2) {
    animation: animate 500ms ease-in-out forwards;
    animation-delay: 800ms;
}

.dropdown-menu a:nth-child(3) {
    animation: animate 500ms ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes anime {
    from {
        top: -10px;
        opacity: 0;
        transform: rotateX(-90deg);
    }

    to {
        top: 20px;
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes animate {

    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(20deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

.search-area {
    position: relative;
    margin-right: 2em;
    font-size: 12px;
}

.search-bar {
    border: 0;

    padding: 0;
    width: 0;
    height: 100%;
    border-radius: 50px;
    transition: all .5s .3s ease;
}

.search-icon {
    position: absolute;
    border: 0;
    padding: 0;
    width: 0;
    height: 100%;
    visibility: hidden;
    transition: all .5s .3s ease-out;
}

.search-area input.active {
    padding-left: 10px;
    width: 250px;
    border: 1px solid;
    border-radius: 50px;
    transition: 0.5s;
    outline: none;
}

.search-icon.active {

    visibility: visible;
    width: 30px;
    border-radius: 50px;
    transform: translate(-50%, 0);
    transition: all .3s ease;
}

#clickSearch {
    width: 30px;
    height: 100%;
}
i.fa-grip-lines-vertical{
    display: none;
}

.article{
    position: sticky;
    height: fit-content;
    word-wrap: break-word;

}
.article>a{
    margin: 1em;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.article-list{
    position: sticky;
    width: 100%;
    max-height: 243px;
}




img{
    width: 100%;
    object-fit: fill;
    object-position: center;
}
.article-img{
    position: sticky;
height: 40%;
}
.content-img{
    max-height: 443px;
}
.article-list:hover img{
    object-fit: cover;
    
}
.article-tag{
    margin-top: 5px;
    text-align: center;
    padding: 0 8px;
    height: 18px;
    width: fit-content;
    font-size: 11px;;
    background-color: #ff9343;
    color: white;
    border-radius: 8px;
    
}
.article-caption{
    margin-left: 3px;
    color: black;
}
.article-paragraph{
    font-size: 11px;
}

.card-footer{
    background-position:  bottom;
    bottom: 0;
	background-color: #707070;
	color:#fff;
    margin-top: 2em;
}
  .card-footer h5{
      background-color: white;
      padding: 4px 1em;
      margin-top: -14px;
  }
  .ul-footer{
      list-style-type: none;
      text-align: left;
  }
  a:hover{
      text-decoration: none;
  }
  .multi-column{
   column-count: 2;
   column-gap: 20px;
   column-fill: auto;
  }
  .ul-footer>a>li{
      color: white;
      margin-bottom: 10px;
      
  }
  .ul-footer>a>li:hover{
       font-weight: bold;
       background-color: #646262;

}



.jumbotron{
    display: none;
}
.garis{
	background-color: #f7f7f7;
    width: 100%;
    height: 1px;
    margin: 5px 0 10px 0;
}

@media (min-width: 1080px) {
    .article-list{
        width: 30%;
    }


    i.fa-grip-lines-vertical{
        display: inline;
    }
    div.collapse>ul>li>a {
        margin: -5px 1.5em;
    }

    .bg-grey {
        padding: 5px;
        padding-left: 1em;
        margin-right: 9em;
    }

    .dropdown-menu {
        margin: 5px 0 0 1.5em;
    }

    ul li a {
        font-size: 11px;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
        animation: anime 500ms ease-in-out forwards;
        animation-delay: -100ms;
    }
    .card-footer{
        padding-left: 70px;
    }
    .garis{
        margin-left: -1.5em;
    }


    .sticky {
        z-index: 3;
        position: fixed;
        top: 0;
        width: 100%;
        overflow: visible;
      }


    .jumbotron{
        background-color: white;
        color: #ff9343;
        border-radius: 10px;
        box-shadow: 0 8px 12px -6px #646262;
        position: relative;
        display: inline-block;
    }
    .jumbotron img{
    max-height: 243px;
    object-fit: scale-down;
    object-position: center;
    }
    .text-banner{
        position: sticky;
        margin-top: -243px;
        padding:100px 1.5em;
        width: 100%;
        text-align: center;
        
    }
    .text-banner>h2{
        width: 27%;
    }
    .text-banner>p{
        margin-top: -40px;
        position: absolute;
        right: 1.5em;
        width: 27%;
        font-size: 18px;
    }    
}